#header1{
    box-shadow: 0vmax 0.5vmax 3vmax 0.6vmax rgb(5, 5, 5);
    background-image: linear-gradient(to top left, #f4cc47,#b43cc4);
    border-radius: 2vmax;
    background-size: 100% 100%;
}
#nav img{
    filter: drop-shadow(1.5vmax 1.2vmax 0.7vmax rgba(0, 0, 0,0.5));
    height: 15%;
    width: 15%;
    margin-top:2vmax;
    margin-left: auto;
    margin-right: 1vmax;
}
#nav{
    font-size: 1vmax;
    display: flex;  
}
nav{
   display: flex;
   padding-top: 1vmax;
}
nav ul{
    padding: 1vmax;
    display: flex;
    list-style-type: none;
}
button{
    border-style: none;
}
ul li a{
    background-color: #e4dbf7;
    border-radius: 2vmax;
    margin-left: 3vmax;
    padding: 0.5vmax;
    padding-left: 1.5vmax;
    padding-right: 1.5vmax;
    text-decoration:none;
    color: rgb(10,25,71);
    box-shadow: 1vmax 0.6vmax 1.5vmax 0.5vmax rgba(0, 0, 0, 0.4); 
}
.head{
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    overflow: hidden;
    margin: 1.5vmax;
}

.head div{
    font-size: 1vmax;
    padding: 0.2vmax;
    overflow-x: hidden;
}
.head div p{
    line-height: 2vmax;
}

.head img{
    filter: drop-shadow(0vmax 1vmax 1vmax rgba(0, 0, 0,0.4));
    width: 55%;
    height:25%;
    margin: 2vmax;
}
#way{
    background-color:#75246d;
    background-size: 30vmax;
    border-color: rgb(190, 190, 190);
    font-size:1.5vmax;
    margin-left: 36%;
    margin-top: 2vmax;
    border-radius: 1.5vmax;
    height: 5%;
    width: 30%;
    padding: 1.3vmax;
    filter: drop-shadow(0vmax 0.5vmax 1vmax rgba(0, 0, 0,0.5));
    color: #e4dbf7;
}

button:hover{
    box-shadow: 0vmax 0vmax 3vmax 0.1vmax rgb(255, 255, 255); 
    font-weight: bolder;
    transition: all 0.2s;
}

nav ul li a:hover{
    box-shadow: 0vmax 0vmax 3vmax 0.1vmax rgb(255, 255, 255); 
    font-weight: bolder;
    transition: all 0.2s;
}

.container{
    background-color:rgb(56,79,174) ;
    margin:3vmax;
    font-family:Arial, Helvetica, sans-serif;
}
@media only screen and (max-width:700px) {
    .head{
        text-align: center;
        display: grid;
    }
    .head img{
        align-items: center;
        height: 90%;
        width: 92%;
    }
    ul li a{
        margin-left: 1vmax;
    }
    #way{
        margin-left: 25%;
        width: 50%;
    }
}
