body{
    background-color:rgb(56,79,174) ;
    overflow-x: hidden;
    padding: 2vmax;
}
#main{
    font-size: 1.3vmax;
    justify-content: center;
    background-color:#fbf3eb ;
    border-radius: 3vmax;
    box-shadow: 0vmax 0.5vmax 3vmax 0.6vmax rgb(5, 5, 5);
    padding: 2vmax;
    margin: 2vmax;
    display: flex;
    justify-content: flex-start;
    
}

#menu{
    padding: 0.5vmax;
    display: grid ;
}
#menu li{
    list-style-type: none;
}

#logo{
    filter: drop-shadow(1vmax 0.5vmax 0.4vmax rgba(0, 0, 0,0.5));
    height: 8vmax;
    width: 8vmax; 
}
#menu li img{
    margin: 0.5vmax;
    margin-left: 2.5vmax;
    height: 3vmax;
    width: 3vmax;
    filter: drop-shadow(1vmax 0.5vmax 0.4vmax rgba(0, 0, 0,0.5));
}
#content{
    font-size: 1.3vmax;
    border-top-right-radius: 3vmax;
    border-bottom-right-radius: 3vmax;
    background-color: rgb(228, 228, 228);
    padding: 2vmax;
    display: flex;
    flex-wrap: wrap;
    margin: 1vmax;
    
}
.box,.box1{
    justify-content: center;
    padding: 0.5vmax;
    font-size: 1.3vmax;
    display: flex;
    flex-wrap: wrap;
}
.box div,.box1 div{
    flex-basis: 24%; 
    margin: 2vmax;
    background-color: #fbf3eb;
    box-shadow: 1vmax 0.5vmax 2vmax 0.1vmax rgba(5, 5, 5,0.5);
    border-radius: 2vmax;
    padding: 1vmax;
    text-align: center;
}

#add img{
    border-radius: 2vmax;
    height: 9vmax;
    width: 13vmax;
}
#add{
    display: grid;
    background-color:rgb(255, 255, 255);  
}
#add button{
    border-style: none;
    background-color: white;
}
h3{
    font-weight: bold;
    color:#863d6c ;
    background-color:#e5d8c1;
    border-radius: 0.5vmax;
    padding: 0.5vmax;
}
#add:hover{
    box-shadow: 0.5vmax 0.5vmax 3vmax 0.1vmax rgb(56,79,174);
}
@media only screen and (max-width:600px) {
   
    #main{
        justify-content: center;
        display: grid;
    }
    #menu{
        justify-content: center;
    }
    #icons{
        position: static;
        padding: 2vmax;
        align-items: center;
        display: flex;
    }
    #menu li img{
        margin-left: 1vmax;
    }
    #content{
        border-radius: 3vmax;
        display: block;
        margin-left: 7vmax;
        margin-right: 7vmax;
    }
    .box,.box1{
        display:block;
        width: 95%;
        justify-content: center;
    }
    
}
