body{
    background-color:rgb(56,79,174) ;
    overflow-x: hidden;

}
#main{
    font-size: 1.3vmax;
    justify-content: center;
    background-color:#fbf3eb ;
    border-radius: 3vmax;
    box-shadow: 0vmax 0.5vmax 3vmax 0.6vmax rgb(5, 5, 5);
    padding: 3vmax;
    margin: 2vmax;
    display: flex;
}
#menu{
    display: grid ;
}
#menu li{
    list-style-type: none;
}

#logo{
    height: 8vmax;
    width: 8vmax; 
}
#menu li img{
    margin: 0.8vmax;
    margin-left: 3vmax;
    height: 2vmax;
    width: 2vmax;
}
#content{
    font-size: 1.3vmax;
    border-radius: 2vmax;
    background-color: rgb(214, 214, 214);
    justify-content: center;
}
.box{
    justify-content: center;
    padding: 1vmax;
    font-size: 1.3vmax;
    display: flex;
}
.box div{
    margin: 2vmax;
    background-color: #fbf3eb;
    box-shadow: 1vmax 0.5vmax 2vmax 0.1vmax rgba(5, 5, 5,0.5);
    border-radius: 2vmax;
    padding: 1vmax;
    text-align: center;
}
#add img{
    height: 100%;
    width: 100%;
}

#add:hover{
    box-shadow: 0.5vmax 0.5vmax 3vmax 0.1vmax rgb(56,79,174);
}
@media (max-width:600px) {
    #main{
        display: grid;
    }
    #menu{
        padding: 2vmax;
        align-items: center;
        width: auto;
        display: flex;
    }
    #content{
        display: block;
        margin: 2vmax;
    }
}
